#left-bullet {
    display: none;
    animation-name: bullet-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#right-bullet {
    display: none;
    animation-name: bullet-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#laser {
    display: none;
}