#left-bullet {
    display: none;
    animation-name: bullet-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#right-bullet {
    display: none;
    animation-name: bullet-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#laser {
    display: none;
    animation-name: laser-animation;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#player {
    position: relative;
}

#enemy-type1-1{
    display: none;
    display: none;
    animation-name: enemy-type1-1-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#enemy-type1-2{
    display: none;
    display: none;
    animation-name: enemy-type1-2-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#enemy-type1-3{
    display: none;
    display: none;
    animation-name: enemy-type1-3-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#bomb1-1 {
    display: none;
    animation-name: bomb1-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#bomb1-2 {
    display: none;
    animation-name: bomb2-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#bomb1-3 {
    display: none;
    animation-name: bomb3-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#meteor1 {
    display: none;
    animation-name: meteor1-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#meteor2 {
    display: none;
    animation-name: meteor2-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#meteor3 {
    display: none;
    animation-name: meteor3-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#laser-item{
    display: none;
    animation-name: laser-item-animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#rapid-fire-item{
    display: none;
    animation-name: rapid-fire-item-animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#space-bomb {
    display: none;
    animation-name: space-bomb-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#boss{
    display: none;
    position: relative;
}

#boss-heart-1 {
    display: none;
}

#boss-heart-2 {
    display: none;
}

#boss-heart-3 {
    display: none;
}

#boss-heart-4 {
    display: none;
}

#boss-heart-5 {
    display: none;
}

#boss-heart-6 {
    display: none;
}

#boss-heart-7 {
    display: none;
}

#boss-heart-8 {
    display: none;
}

#bossAttack{
    display: none;
    animation-name: boss-attack-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}