text {
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

#main {
    display: none;
}

#start-Page {
    display: block;
}

.screen-text{
    font-family: 'Ubuntu', sans-serif;
}

.start-text{
    display: block;
    cursor: pointer;
    transition: all 1.5s;
}

.start-text:hover {
    fill: CornflowerBlue;
    font-size: 130%;
}

#instruction-text {
    display: block;
    cursor: pointer;
    transition: all 1.5s;
}

#instruction-text:hover {
    fill: green;
    font-size: 130%;
}

#ins-start-text {
    display: block;
    cursor: pointer;
    transition: all 1.5s;
}

#ins-start-text:hover {
    fill: red;
    font-size: 110%;
}
#start-Page-airplane {
    transform: translate(117px,-33px);
}

/*#game-instruction-text{*/
    /*font-size: 14px;*/
    /*fill: white;*/
    /*text-anchor: start;*/
/*}*/

#instruction-button {

}

#instruction-page {
    display: none;
}

#game-text {
    animation: titleColor 10s cubic-bezier(0,0,1,1) infinite;
}


@keyframes titleColor {
    0% { fill: pink; }
    33% { fill: Fuchsia; }
    67% { fill: CornflowerBlue; }
    100% { fill: pink; }
}

